@font-face {
    font-family: 'mason_chroniclesregular';
    src: url('mason_chronicles.woff2') format('woff2'),
         url('mason_chronicles.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


header {
  padding-top: 60px;
  padding-bottom: 90px;
}
nav {
  padding-left: 21px;
}
.nav-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.socials a {
  padding-right: 21px;
}
.socials a:last-of-type {
  padding-right: 0;
}
.fab {
  color: #fff;
  font-size: 19px;
}
.fab:hover,
.fab:focus {
  color: #9d2929;
}
.navbar {
  background-color: transparent;
}
.nav-logo {
  margin-right: 68px;
}
.socials i {
  margin-right: 25px;
}
.socials i:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .socials {
    position: absolute;
    top: 14px;
    right: 0;
  }
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #9d2929;
}
.main {
  padding: 67px 15px 68px;
}
@media (min-width: 768px) {
  .main {
    padding: 0 0 120px;
  }
}
.content {
  font-size: 14px;
  padding-bottom: 16px;
}
.category {
  font-size: 12px;
  margin-bottom: 16px;
}
.title {
  font-size: 76px;
  font-family: 'MasonChronicles', arial;
  padding-top: 20px;
  padding-bottom: 10px;
}
.btn--play {
  position: absolute;
  top: 0;
  right: 0;
  width: 116px;
  height: 116px;
  padding: 13px 12px;
  background-color: rgba(157, 41, 41, 0.5);
  border-radius: 50%;
  transition: 0.2s ease-out;
}
.btn--play a {
  display: block;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background-color: #9d2929;
}
.btn--play a:hover,
.btn--play a:focus {
  background-color: #c53434;
  width: 88px;
  height: 88px;
  transform: translate(2px, 2px);
}
.btn--play img {
  margin: 28px 27px 30px 33px;
  z-index: 10;
}
.trailer {
  display: none;
}
@media (min-width: 768px) {
  .trailer {
    display: block;
  }
}
.rating--count {
  padding-left: 9px;
}
.description {
  font-size: 14px;
  line-height: 21px;
}
.btn-danger {
  width: 260px;
  height: 60px;
  border-radius: 8px;
  background-color: #9d2929;
  margin: 40px 0 40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .btn-danger {
    margin-bottom: 85px;
  }
}
.series--wrapper .row {
  margin-left: 0;
}
.series {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 124px;
  height: 113px;
  border: 5px solid transparent;
  border-radius: 8px;
  transition: 0.2s ease-out;
  background-image: url('../img/card-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* .series--num */
  /* .series--title */
}
.series:hover,
.series:focus {
  transform: translateY(-10px);
}
.series--num {
  font-size: 10px;
  width: 43px;
}
.series--title {
  font-size: 14px;
  width: 120px;
  font-weight: 700;
}
@media (min-width: 576px) {
  .series:nth-of-type(2) {
    display: block;
    display: flex;
  }
}
.arrow {
  margin-top: 46px;
}
.arrow img {
  fill: #fff;
}
.series--wrapper {
  display: flex;
  justify-content: flex-start;
}
.series {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 164px;
  height: 113px;
  padding: 13px;
}
.seriesTwo {
  background-image: url('../img/card-image2.png');
}
.swiper-container {
  max-width: 358px;
  margin-left: 0;
}
.sliders {
  width: 234px;
  position: relative;
}
@media (min-width: 576px) {
  .sliders {
    width: 419px;
  }
}
.arrow {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 30px;
  transform: translateX(50%);
}
footer {
  padding-bottom: 37px;
}
@media (min-width: 720px) {
  footer {
    padding-bottom: 20px;
  }
}
.footer--nav {
  padding-left: 15px;
  transform: translateY(8px);
}
.footer--nav a {
  font-size: 14px;
  color: #49484d;
  font-weight: 400;
  line-height: 20px;
}
.footer--nav .nav-link {
  padding: 0;
  padding-bottom: 0.5rem;
  margin-right: 30px;
}
.footer--nav .nav-link:last-child {
  margin: 0;
}
.footer--copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #49484d;
  padding-left: 15px;
}
@media (min-width: 720px) {
  .footer--copyright {
    padding-left: 0;
  }
}
html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000 url('../img/background.jpg') no-repeat;
  background-position: top center;
}
@media (min-width: 992px) {
  html,
  body {
    background-position: top right;
  }
}
.relative {
  position: relative;
}
a:hover,
a:focus {
  color: #9d2929;
  text-decoration: none;
}

/*==========  Mobile First Method — Bootstrap Grid ==========*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
